<%- include('partials/header') %>
<%- include('partials/navbar') %>

<div class="flex-grow-1">
    <div class="py-5 container">
        <div class="justify-content-center row">
            <div class="col-xl-9 col-lg-10 col-md-11">
                <div class="card login-card">
                    <div class="p-0 card-body">
                        <div class="g-0 row">
                            <div class="d-none d-md-block col-md-6 login-card-left">
                                <div class="text-center position-relative">
                                    <div class="login-logo-circle">
                                        <h3 class="login-logo-text">
                                            ANNA<br>MITRA
                                        </h3>
                                    </div>
                                    <h3 class="login-welcome-title">Welcome Back</h3>
                                    <p class="login-welcome-desc">Sign in to your account to continue</p>
                                </div>
                            </div>
                            <div class="col-md-6 login-card-right">
                                <div class="text-center mb-4">
                                    <h2 class="login-title">LOGIN</h2>
                                    <p class="login-access-desc">Access your account</p>
                                </div>
                                <form class="login-form" style="width: 100%;">
                                    <div class="mb-3">
                                        <input placeholder="Email" required class="form-control login-input"
                                            type="email" name="email">
                                    </div>
                                    <div class="mb-4">
                                        <input placeholder="Password" required class="form-control login-input"
                                            type="password" name="password">
                                    </div>
                                    <button type="submit" class="btn btn-primary login-btn">Sign In</button>
                                </form>
                                <div class="text-center mt-4">
                                    <p class="login-register-link">
                                        Don't have an account?
                                        <a href="/auth/register" class="login-link">Register</a>
                                    </p>
                                    <p class="login-forgot-link">
                                        <a href="/auth/forgot-password" class="login-link">Forgot Password?</a>
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<%- include('partials/footer') %>