<nav class="navbar bg-dark navbar-expand-lg bg-body-white shadow fixed-top" data-bs-theme="dark"
    style="background-color: rgba(var(--bs-dark-rgb),var(--bs-bg-opacity))!important;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">
            <img src="/images/logo1.png" alt="AnnaMitra" class="brand-img">
        </a>
        <button class="navbar-toggler" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-5 me-auto mb-2 mb-lg-0">
                <li class="nav-item mx-2">
                    <a class="nav-link active fw-semibold" aria-current="page" href="./index.html">Home</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fw-semibold" aria-current="page" href="./about.html">About</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fw-semibold" aria-current="page" href="./contact.html">Contact</a>
                </li>
                <li class="nav-item mx-2">
                    <a class="nav-link active fw-semibold" aria-current="page" href="./donate.html">Donate</a>
                </li>
            </ul>
            <a class="nav-link active" aria-current="page" href="/auth/login">
                <button class="btn btn-outline-secondary" type="submit">Login</button>
            </a>
        </div>
    </div>
</nav>